@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Global and Basic Styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Anton', sans-serif;
  box-sizing: border-box;
  letter-spacing: 2px;
}

body {
  background: #eac5b6;
}

/* Main Quiz App Container */
.quiz-app {
  background: rgb(249, 239, 239);
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 5px 5px #eaa588;
}

.quiz-app h1 {
  font-size: 50px;
  color: #d09176;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.quiz-app h2 {
  font-size: 30px;
  color: #635757;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

/* Quiz Questions Container */
.questions {
  background: #eac5b6;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  padding: 30px;
}

/* Quiz Elements */
#user-question, #correct-answer, #option1, #option2, #option3, #option4, #question {
  background: rgb(249, 239, 239);
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  border: none;
  padding: 30px;
  margin: 10px;
  outline: none;
}

#question {
  font-size: 25px;
  text-align: center;
  max-width: 500px;
  padding: 10px;
}

/* Buttons */
.option-button, #add-question, #start-quiz, #next-question {
  background: rgb(249, 239, 239);
  width: 200px;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  display: block;
  cursor: pointer;
  transition: all 0.3s;
}
#add-question:hover, #start-quiz:hover, #next-question:hover {
  background: #eaa588;
  color: #333;
}
#final-score {
  font-size: 25px;
  text-align: center;
}
#try-again, #quit, #quit-end {
  background: #eaa588;
  width: 100px;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  display: block;
  cursor: pointer;
  transition: all 0.3s;
}
#quit:hover, #try-again:hover {
  background: rgb(249, 239, 239);
  color: #333;
}

/* Quiz Container */
#quiz-container {
  background: #eac5b6;
  max-width: 600px;
  margin: 10px auto 0;
  border-radius: 10px;
  padding: 30px;
}
